@{
    ViewBag.Title = "ChallengeEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChallengeEditor</h2>

<fieldset>
    <legend>Insert Challenge</legend>
    <div>
        <label for="challenger">Challenger : </label>
        <input id="challenger" name="Challenger"/>
    </div>
    <div>
        <label for="challenged"> Challenged : </label>
        <input id="challenged" name="Challenged"/>
    </div>
    <div>
        <label for="sudoku">Sudoku : </label>
        <input id="sudoku" name="Sudoku"/>
    </div>
    <button id="insert-challenge">Insert Chalenge</button>
    <script>
        $('#insert-challenge').on('click', function () {
            $.post("http://proektpmu.apphb.com/api/ChallengeApi/InsertChallenge",
                {
                    Challenger : $('#challenger').val(),
                    Challenged: $('#challenged').val(),
                    Sudoku: $('#sudoku').val()
                },
                function (data) {
                alert(data);
            });
        });
    </script>
</fieldset>
