@{
    ViewBag.Title = "ChallengeEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChallengeEditor</h2>

<fieldset>
    <legend>Insert Challenge</legend>
    <div>
        <label for="challenger">Challenger : </label>
        <input id="challenger" name="Challenger" />
    </div>
    <div>
        <label for="challenged">Challenged : </label>
        <input id="challenged" name="Challenged" />
    </div>
    <div>
        <label for="sudoku">Sudoku : </label>
        <input id="sudoku" name="Sudoku" />
    </div>
    <button id="insert-challenge">Insert Chalenge</button>
    <button id="get-challenges">Get All Challenges</button>
</fieldset>
<fieldset>
    <legend>Get Challenges by Name</legend>
    <div>
        <label for="challenged-id">Challenged : </label>
        <input id="challenged-id" name="challenged-id" />
    </div>
    <button id="btn-challenges-by-id">Get Challenge by Name</button>
</fieldset>
<fieldset>
    <legend>Complete challenge</legend>
    <input id="completed-id" name="completed" type="text" />
    <button id="btn-complete-challenge">Complete challenge</button>
</fieldset>
<script>
    $('#insert-challenge').on('click', function () {
        $.post("http://proektpmu.apphb.com/api/ChallengeApi/InsertChallenge",
            {
                Challenger: $('#challenger').val(),
                Challenged: $('#challenged').val(),
                Sudoku: $('#sudoku').val()
            },
            function (data) {
                alert(data);
            });
    });

    $('#get-challenges').on('click', function () {
        $.ajax({
            type: 'GET',
            url: 'http://proektpmu.apphb.com/api/ChallengeApi/GetChallenges',
            success: function (data) {
                alert(JSON.stringify(data));
            }
        });
    });

    $('#btn-challenges-by-id').on('click', function () {
        $.ajax({
            type: 'GET',
            url: 'http://proektpmu.apphb.com/api/ChallengeApi/GetChallenges/'
                + $('#challenged-id').val(),
            success: function (data) {
                alert(JSON.stringify(data));
            }
        });
    });

    $('#btn-complete-challenge').on('click', function () {
        $.ajax({
            type: 'POST',
            url: 'http://proektpmu.apphb.com/api/ChallengeApi/CompleteChallenge/'
                + $('#completed-id').val(),
            success: function () {
                alert('challenge updated!');
            }
        });
    });
</script>
