@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li><a href="/Account/Insert">Accounts</a></li>
    <li><a href="/Highscore/">Challenges</a></li>
    <li><a href="#">Highscores</a></li>
    <li><a href="#">Sudokus</a></li>
</ul>
