@{
    ViewBag.Title = "AccountWebApiTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Login Form</legend>
    <div>
        <label for="jusername">Username : </label>
        <input type="text" id="jusername" name="Name" />
    </div>
    <div>
        <label for="jpassword">Password : </label>
        <input type="password" id="jpassword" name="Password" />
    </div>
    <button id="btn-login">Submit</button>
    <script>
        $('#btn-login').on('click', function () {
            $.post("http://proektpmu.apphb.com/api/AccountApi/Login",
                { Name: $('#jusername').val(), Password: $('#jpassword').val() },
                function (data) { alert("Success!!"); });
        });
    </script>
</fieldset>

<fieldset>
    <legend>Register Form</legend>
    <div>
        <label for="username">Username : </label>
        <input type="text" id="username" name="Name" />
    </div>
    <div>
        <label for="password">Password : </label>
        <input type="password" id="password" name="Password" />
    </div>
    <button id="btn-register">Submit</button>
    <script>
        $('#btn-register').on('click', function () {
            $.post("http://proektpmu.apphb.com/api/AccountApi/Register",
                { Name: $('#username').val(), Password: $('#password').val() },
                function (data) { alert("Success!!"); });
        });
    </script>
</fieldset>
